<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/styles.css}">
  <title>Registrar Emoción</title>
</head>
<body>
<h1>Registrar emoción de hoy</h1>
<form th:action="@{/form}" th:object="${moodEntry}" method="post">
  // LA emocion para que sea un campo obligatorio le pondremos el atributo required
  <label>Emoción:</label>
  <input type="text" th:field="*{emocion}" required /><br><br>

  <label>Nota:</label><br>
  <textarea th:field="*{nota}"></textarea><br><br>

  <button type="submit">Guardar</button>
</form>
<a th:href="@{/}">← Volver al inicio</a>
</body>
</html>
